<div class="card">
  <a class="image" [class]="isGalleryView() ? 'compact' : 'fullsize'" [routerLink]="['/photos', photo().id]">
    <img [src]="photo().src" [alt]="photo().alt" />
  </a>
  <footer>
    <button mat-stroked-button color="primary" (click)="toggleFavorite.emit(photo())">
      <mat-icon>{{ favoriteService.isFavorite(photo().id) ? 'favorite' : 'favorite_border' }}</mat-icon>
      <span>{{ favoriteService.isFavorite(photo().id) ? 'Remove from favorites' : 'Add to favorites' }}</span>
    </button>
  </footer>
</div>